
body {
  background-image: url("../img/hintergrund-struktur-gruen.png");
  background-color: #4b982b;
  color: #ffffff;
  font-size: 30px;
  overflow: hidden;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

/* basic slide layouts */

div.container {
  height: 1080px;
  width: 1920px;
  position: absolute;
  top: 0;
  left: 0;
}
div.inner.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

body, p {
  font-family: Arvo, monospace;
  font-weight: normal;
}

bold, strong {
  font-family: 'Arvo Gruen', monospace;
  font-weight: bold;
}

.caps {
  text-transform: uppercase;
}

h1 {
  font-family: 'Arvo Gruen', monospace;
  font-weight: bold;
  color: #ffee00;
  font-size: 6em;
  line-height: 1em;
  margin: 0;
}

h3 {
  font-size: 2.5em;
  line-height: 1.1em;
  margin: 0;
  font-family: Arvo, monospace;
  font-weight: normal;
}

.balken {
  margin-top: 0.16em;
  margin-bottom: 0.16em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-top: 0.16em solid #ffffff;
  border-bottom: 0.16em solid #ffffff
}

h2, h3, h4 {
  font-family: Arvo, monospace;
  font-weight: normal;
}
