
body {
  background-image: url("../img/hintergrund-struktur-gruen.png");
  background-color: #4b982b;
  color: #ffffff;
  font-size: 30px;
  overflow: hidden;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

/* basic slide layouts */

div.container {
  height: 1080px;
  width: 1920px;
  position: absolute;
  top: 0;
  left: 0;
}
div.container.image img {
  height: 1080px;
  width: 1920px;
}
div.container.padding {
  padding: 30px;
}

div.inner.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -45%;
  transform: translate(-45%, -45%)
}

body, p {
  font-family: Arvo, monospace;
  font-weight: normal;
}

bold, strong {
  font-family: 'Arvo Gruen', monospace;
  font-weight: bold;
}

.caps {
  text-transform: uppercase;
}

h1 {
  font-family: 'Arvo Gruen', monospace;
  font-weight: bold;
  color: #ffee00;
  font-size: 6em;
  line-height: 1em;
  margin: 0;
}

h3 {
  font-size: 2.5em;
  line-height: 1.1em;
  margin: 0;
  font-family: Arvo, monospace;
  font-weight: normal;
}

.balken {
  margin-top: 0.16em;
  margin-bottom: 0.16em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-top: 0.16em solid #ffffff;
  border-bottom: 0.16em solid #ffffff
}

h2, h3, h4 {
  font-family: Arvo, monospace;
  font-weight: normal;
}

/* calendar event slide */
div.container.event h2 {
  position: absolute;
  top: 70px;
  left: 100px;
}
div.container.event h3 {
  position: absolute;
  top: 350px;
  left: 700px;
  transform: rotate(-3deg);
  line-height: 1.4em;
}
div.container.event .time {
  display: block;
  font-size: 1em;
  font-family: 'Arvo Gruen', serif;
  font-weight: bold;
}
div.container.event .time::after {
  content: " Uhr"
}
div.container.event .title {
  display: block;
  width: 1000px;
  color: #ffee00;
  font-size: 1.2em;
}
div.container.event .relative {
  position: absolute;
  display: block;
  text-align: center;
  width: 400px;
  top: 890px;
  left: 220px;
  font-size: 1.2em;
  transform: rotate(-3deg);
}
div.container.event .dateblock {
  display: inline-block;
  background-color: #fff;
  font-size: 1.8em;
  text-align: center;
  text-shadow: none;
  -moz-box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.2);
	box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.2);
  transform: rotate(-3deg);
  position: absolute;
  top: 350px;
  left: 200px;
}
div.container.event .date {
  display: block;
  font-size: 4em;
  font-family: 'Arvo Gruen', serif;
  font-weight: bold;
  color: #333;
  min-width: 1.4em;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}
div.container.event .date::after {
  content: "."
}
div.container.event .month {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: #333;
}
div.container.event .weekday {
  display: block;
  padding: 20px;
  color: #fff;
  background-color: #666;
}
